{% extends "layout.html" %}

{% block title %}Internal Server Error{% endblock %}

{% block content %}
<div class="container my-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-1">500</h1>
            <h2><i class="fas fa-exclamation-triangle me-2 text-danger"></i>Internal Server Error</h2>
            <p class="lead">
                Something went wrong on our end. We're sorry for the inconvenience. Our team has been notified.
            </p>
            <a href="/" class="btn btn-primary mt-3">
                <i class="fas fa-home me-2"></i>Go to Homepage
            </a>
        </div>
    </div>
</div>
{% endblock %}