<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASA Styled Front Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <section id="website-link">
        <div class="link">
            <a id="button" href="templates/index1.html" class="button">3D Solar System</a>
        </div>
    </section>

    <section id="planets">
        <div class="planet-section">
            <div class="planet-display">
                <img id="planet-image" src="m.jpeg" alt="Mercury">
            </div>

            <div class="planet-info">
                <h3 id="planet-name">Mercury</h3>
                <p id="planet-description">Closet to sun = 46 to 70 million km<br>Smallest Planet<br>Shortest year = 88 Earth days<br>Fastest planet = 47 km/s<br>Long Day = 59 Earth Days<br>Temperature = -180&deg;C to 430&deg;C.</p>
            </div>
        </div>
    </section>

    <section id="team">
        <h1>Teammates's Information</h1>
        <div class="team-grid">
            <div class="team-member">
                <h3>Meet Paladiya</h3>
                <p>Project Lead
                    &  Pitch Presenter</p>
            </div>
            <div class="team-member">

                <h3>Dev Patel</h3>
                <p>Lead Developer</p>
            </div>
            <div class="team-member">

                <h3>Vishal Shingala</h3>
                <p>Frontend Developer</p>
            </div>
            <div class="team-member">

                <h3>Keval Sakariya</h3>
                <p>Frontend Developer</p>
            </div>
            <div class="team-member">

                <h3>Abhi Dakecha</h3>
                <p>Backend Developer</p>
            </div>
            <div class="team-member">
                <h3>Hit Narola</h3>
                <p>Graphic Designer</p>
            </div>
        </div>
    </section>

    <script src="./static/js/script.js"></script>
</body>

</html>